
/* 
.blog {
    font-family: 'Courier New', Courier, monospace;
    margin: 2em auto;
    max-width: 900px;
    line-height: 1.6;
    color: #33ff00;
}

.blog-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #FFFFFF;
}

.blog-date {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 1em;
}

.blog-content {
    text-align: justify;
    word-wrap: break-word;
}
 */
.page {
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.blog {
    font-family: 'Courier New', Courier, monospace;
    margin: 2em 3em;
    max-width: 900px;
    line-height: 1.6;
    color: #33ff00;
    text-align: center;
    position: relative; 
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.blog-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #FFFFFF;
}

.blog-date {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 1em;
}

.blog-content {
    text-align: justify;
    word-wrap: break-word;
    align-items: center;
}

.link {
  text-decoration: 'none';
  color: "white"
}

.codeblock { 
  font-size: 15px;
}

/* Adjust font sizes, margins and max-width for smaller screens */
@media (max-width: 600px) {
  .blog {
    margin: 1em 3em;
    max-width: 90%;
  }

  .blog-title {
    font-size: 2em;
  }

  .blog-date {
    font-size: 1em;
  }

  .blog-content {
    font-size: 14px;
  }
  
  .codeblock {
    font-size: 13px;
  }

  .image { 
    height: 300px;
    width: 400px
  }
}