/* header.css */
.header {
  background: black;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  overflow: visible; /* Changed from hidden */
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  position: relative;
}

.header-link {
  text-decoration: none;
}

.header-title {
  margin-left: 0.5rem;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 30px;
  margin: 0.5rem 0.8rem;
  margin-bottom: 0;
  color: #FFFFFF;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-container {
  display: flex;
  /*flex-direction: column;*/
  position: fixed;
  top: 55px;
  right: 0;
  background: black;
  color: white;
  transition: transform 0.6s ease-in-out;
  overflow: hidden;
  z-index: 9999;
  padding: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  transform: translateX(100%); /* Hidden by default */
}

.nav-container.open {
  transform: translateX(0); /* Visible when open */
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 1rem;
  white-space: nowrap;
}

.nav-button {
  border: none;
  color: white;
  background: black;
  margin-top: 0.4rem;
  cursor: pointer;
  font-size: 25px;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  .nav-button {
    font-size: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .header-title {
    font-size: 26px;
  }
}