.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem;
    transition: all 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
    background-color: #33ff00aa; /* semi-transparent green */
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    text-decoration: none;
    color: white; 
    margin: 0 2rem; 
    align-items: center;
    position: relative; 
    top: 3em;
    align-content: center;
    place-content: center;
  }
  
  .poemLink {
    text-decoration: none;
    color: inherit;
  }
  
  .card img {
    display: block;
    margin: 0 auto;
  }
  