body {
  margin: 0;
  background-color: black;
  overflow-x: hidden; 
  overflow-y: hidden; 
  font-family: 'Courier New', Monaco, monospace;
  color: #33ff00;
}

/* On screens smaller than 600px, enable scrolling */
@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }
}
