/* .poem {
    text-align: center;
    color: #FFFFFF;
}

.poemtext {
    color: #33ff00;
}
 */

/* Poem CSS */

.poem {
    text-align: center;
    color: #FFFFFF;
}

.poemtext {
    color: #33ff00;
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
  .poemtext {
    font-size: 14px;
    margin: 0 3rem;
  }
}

